* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
}

.container{
	margin: 0 auto;
	max-width: 1000px;
}

.hero{
	display: flex;
	height: 100px;
	background-color: #cceff1;
}

header .image{
	width: 100%;
	background-image: url('fondo.jpg');
	background-size: cover;
	height: 550px;
	background-position: left;
	position: relative;
}

header .text{
	position: absolute;
	top: 0;
	left: 0;
	padding: 2% 10%;
	overflow: hidden;
	width: 100%;
}

header .text ion-icon{
	font-size: 200px;
	color: #fff392;
	margin-bottom: 20px;
}

header .text h2{
	color: white;
	font-size: 35px;
	margin-bottom: 20px;
}

header .text h3{
	color: #fff392;
	font-size: 30px;
	margin-bottom: 10px;
	width: 45%;
	min-width: 299px;
	white-space: nowrap;
	overflow: hidden;
	transition: all 1s;
}

header:hover .text h3{
	width: 100%;
}

header .text h4{
	color: #fff392;
	font-size: 16px;
	margin-bottom: 30px;
}

header .text a{
	text-decoration: none;
	color: white;
	background-color: rgba(0 ,0, 0, .4);
	padding: 10px 15px;
	border: 1px solid rgba(0 ,0, 0, .4);
	border-radius: 20px;
	transition: all 0.5s;
	display: inline-block;
}

header .text a:hover{
	background-color: white;
	color: black;
	border: 1px solid white;
}


.row{
	display: flex;
	padding-top: 10%;
	padding-bottom: 5%;
}

.row .col{
	width: 33.33%;
	padding: 10px;
}

.product{
	transition: all 0.5s;
}

/*.product:hover{
	border: 1px solid #dadada;
	border-radius: 3%;
	background-color: #f92950;
	color: white;
}*/

/*.product:hover a{
	background-color: black;
	color: white;
	border: 1px solid black;
}*/

/*.product:hover p{
	color: white;
}*/

.product .image{
	display: flex;
	justify-content: center;
	margin-top: 15px;
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto;
}

.product .image img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: all 0.5s;
}

.product .price{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 20px;
	background-color: #25d366;
	padding: 10px;
	border-radius: 50%;
	color: white;
	font-weight: bold;
	width: 65px;
	height: 65px;
	transition: all 0.5s;
}

.product:hover .price{
	background-color: #11e25f;
}

.product:hover .image img{
	box-shadow: 0 0 20px 15px #ffdea6;
	transform: rotate(8deg);
}

.product h2{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}


.product p{
	color: gray;
	text-align: left;
	padding-right: 10px;
	margin-bottom: 10px;
	transition: all 0.5s;
}

.product p ion-icon{
	margin-bottom: -1px;
}

.product a{
	display: flex;
	justify-content: center;
	text-decoration: none;
	background-color: #25d366;
	color: white;
	padding: 20px;
	transition: all 0.5s;
	font-size: 20px;
}

.product a ion-icon{
	margin-right: 10px;
}

.product a:hover{
	background-color: #22de68;
}

.social{
	text-align: center;
	padding-bottom: 10%;
	 
}
.social a{
	text-decoration: none;
	color: #fff;
	font-size: 42px;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 30px;
	background: #f31f64;
}
.social a ion-icon, .social a span{
	horizontal-align: middle;
}

@media screen and (max-width: 742px){
	.row{
		flex-wrap: wrap;
	}

	.row .col{
		width: 100%;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 400px){

	header .text{
		text-align: center;
		overflow: hidden;
    	padding: 2% 3%;
	}

	header .text h2{
		font-size: 35px;
	}

	header .text h3{
		font-size: 28px;
	}

}
